:root {
  --fontSegoe: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 70%;
  margin: 30px auto;

  .images-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 25px;
    // grid-row-gap: 50px;

    .img {
      height: 350px;
      position: relative;
      transition: all 0.4s linear;
      transform: rotateX(30deg);
      border-radius: 12px;
      z-index: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 12px;
      }

      span {
        position: absolute;
        bottom: 20px;
        opacity: 0;
        padding: 10px 0;
        font-family: var(--fontSegoe);
        color: black;
        min-height: 50px;
        font-weight: 600;
        font-size: 14px;
        width: 90%;
        background-color: gray;
        left: 50%;
        display: flex;
        letter-spacing: -0.9px;
        align-items: center;
        justify-content: center;
        text-align: center;
        transform: translate(-50%);
        transition: all 0.3s linear;
      }

      &:hover {
        position: relative;
        z-index: 1;
        transition: all 0.4s linear;
        transform: scaleX(2.2);
        transition: all 0.4s linear;
        box-shadow: 0 0 20px rgb(47, 46, 46);

        img {
          border-radius: 8px;
        }

        span {
          opacity: 1;
          border-radius: 8px;
          transition: all 0.5s linear;
          color: rgba(0, 0, 255, 0.823);
        }
      }
    }
  }
}
