:root {
  --famiyilCursive: cursive;
  --blueColor: rgba(0, 0, 255, 0.87);
  --blackColor: rgba(0, 0, 0, 0.929);
}
.container {
  .prevBtn {
    background-color: #0a1821;
    display: flex;
    align-items: center;
    height: 52px;
    .button {
      display: flex;
      align-items: center;
      background-color: transparent;
      color: white;
      gap: 6px;
      max-width: 1400px;
      border: none;
      outline: none;
      width: 100%;
      margin: 0 auto;
      font-size: 18px;
      transition: all 0.3s ease-in;
      font-family: "Poppins", sans-serif;
      button {
        border: none;
        outline: none;
        background-color: transparent;
        display: flex;
        font-size: 18px;
        color: white;
        align-items: center;
        gap: 8px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
          color: green;
          transition: all 0.3s ease-in-out;
        }
      }

      svg {
        font-size: 25px;
        margin-right: 8px;
      }
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    margin: 45px auto 0;
    max-width: 1400px;

    .card {
      border: none;
      box-shadow: 0 0 10px black;
      border-radius: 12px;
      overflow: hidden;

      img {
        height: 300px;
        width: 100%;
        border: none;
      }

      .box {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: var(--famiyilCursive);
        h2 {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
          color: var(--blackColor);
          font-weight: 500;
        }
        button {
          border: none;
          background-color: transparent;
          font-size: 18px;
          font-family: var(--famiyilCursive);
          color: var(--blueColor);
          cursor: pointer;
        }
      }
    }
  }
}
