:root {
  --famiyilCursive: cursive;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  h1 {
    margin-left: auto;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin: 35px 0;
    grid-gap: 35px;

    .card {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-gap: 35px;
      .img {
        width: 100%;
        height: 360px;
        img {
          width: 100%;
          height: 100%;
          cursor: pointer;
          border-radius: 20px;
          transition: all 0.3s ease-in-out;
          &:hover {
            filter: brightness(50%);
            transition: all 0.3s ease-in-out;
          }
        }
      }

      .mediaInfoSection {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: space-evenly;
        color: white;

        h1 {
          font-family: var(--famiyilCursive);
          font-weight: 500;
          text-align: left;
        }

        .title {
          display: flex;
          gap: 10px;
          align-items: self-start;

          span {
            font-size: 22px;
            font-weight: 400;
            font-family: var(--famiyilCursive);
          }
        }

        .icons {
          display: flex;
          align-items: center;
          gap: 15px;
          span {
            font-size: 22px;
            font-weight: 400;
            font-family: "Poppins", sans-serif;
          }
        }
      }
    }
  }

  .pagination {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;

    li {
      list-style-type: none;

      a {
        width: 55px;
        height: 55px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 600;
        background-color: rgba(0, 128, 0, 0.714);
        box-shadow: 0 0 10px white;
        border: 2px solid #0a1821;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
        color: white;
        &:hover {
          transition: all 0.4s ease-in-out;
          background-color: rgba(255, 0, 0, 0.782);
        }
      }

      &.active a {
        transition: all 0.4s ease-in-out;
        background-color: red;
        border-radius: 50%;
      }
    }
  }

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    button {
      background-color: transparent;
      border: none;

      svg {
        color: white;
        font-size: 24px;
      }
    }
  }

  .searchBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 24px;
    font-family: var(--famiyilCursive);

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      svg {
        font-size: 30px;
        color: white;
        margin-top: 10px;
      }
    }
  }
}
